.aside-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--side-color);
    border-radius: var(--border-radius-side);
    margin-left: calc(var(--margin-side) / 2);
    box-shadow: var(--card-shadow);
    padding: var(--padding-item);
}

.main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0 var(--padding-item);
}

.item {
    text-align: center;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        p {
            border-color: var(--selected-color);
        }
    }
}

.item button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.item p {
    color: var(--text-color);
    font-size: var(--font-size-medium);
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: var(--side-color);
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}