* {
    margin: 0;
    padding: 0;
}

.radix-themes {
    --default-font-family: 'Inter', sans-serif !important;
    --heading-font-family: 'Manrope', sans-serif !important;
    min-height: unset !important;
    max-height: unset !important;
}

::-webkit-scrollbar {
    display: none;
}